apiVersion: v1
kind: ServiceAccount
metadata:
  name: disk-auto-scaler-sa
  namespace: kubecost
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: disk-auto-scaler-cr
rules:
- apiGroups: [""]
  resources: ["*"]
  verbs: ["*"]
- apiGroups: ["apps"]
  resources: ["*"]
  verbs: ["*"]
- apiGroups: ["storage.k8s.io"]
  resources: ["*"]
  verbs: ["*"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: disk-auto-scaler-crb
subjects:
- kind: ServiceAccount
  name: disk-auto-scaler-sa
  namespace: kubecost
roleRef:
  kind: ClusterRole
  name: disk-auto-scaler-cr
  apiGroup: rbac.authorization.k8s.io
---
apiVersion: v1
kind: Service
metadata:
  name: disk-autoscaler-svc
  namespace: kubecost
spec:
  ports:
  - port: 9730
    protocol: TCP
    targetPort: 9730
  selector:
    app: disk-autoscaler
  type: ClusterIP
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: disk-autoscaler
  namespace: kubecost
spec:
  selector:
    matchLabels:
      app: disk-autoscaler
  template:
    metadata:
      labels:
        app: disk-autoscaler
    spec:
      containers:
      - env:
        - name: DAS_LOG_LEVEL
          value: info
        - name: DAS_COST_MODEL_PATH
          value: http://kubecost-cost-analyzer.kubecost:9090/model
        - name: DAS_EXCLUDE_NAMESPACES
          value: "kubecost,kube-system,kube-public"
        image:  gcr.io/guestbook-227502/disk-autoscaler:0.0.17
        imagePullPolicy: IfNotPresent
        name: disk-autoscaler
        ports:
        - containerPort: 9730
          protocol: TCP
        resources: {}
        securityContext:
          privileged: false
          capabilities:
            drop: 
            - ALL
          allowPrivilegeEscalation: false
      securityContext:
        seccompProfile:
          type: RuntimeDefault
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 3000
        fsGroup: 2000
      serviceAccount: disk-auto-scaler-sa
